<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::body})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>
		<div class="container text-center mt-5 p-5">
			<i class="fas fa-check-circle fa-5x text-primary"></i>
			<h1>Thank You</h1>
			<h2>Your Appointment Successfully</h2>
			
			<a href="/" class="btn btn-primary mt-3">Home</a> <a
				href="/user/getMyAppoint" class="btn btn-danger mt-3">View Appointment</a>
		</div>
	</section>
</body>
</html>