<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(content)">
<head>
<meta charset="ISO-8859-1">
<title></title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/style.css}">
<style type="text/css">
.paint-card {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
}

.error {
	color: red;
}
</style>
</head>
<body>

	<div class="container p-3">

		<div class="row">
		
			<div class="col-md-4 text-primary">
			<a href="/">
				<i class="fa-solid fa-house-chimney-medical fa-2x"></i> <span
					class="fs-3">MediCare</span></a>
			</div>

			<div class="col-md-4 offset-md-4">

				<th:block th:if="${user==null}">
					<a class="btn btn-primary" href="/signin">Login</a>
					<a class="btn btn-outline-success" href="/register">Signup</a>

				</th:block>

				<th:block th:if="${user!=null}">
					<div class="row">
						<div class="dropdown col-md-5">
							<button class="btn btn-primary dropdown-toggle" type="button"
								id="dropdownMenuButton1" data-bs-toggle="dropdown"
								aria-expanded="false">
								<i class="fa-solid fa-circle-user"></i> [[${user.fullName}]]
							</button>
							
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li th:if="${user.role=='ROLE_USER'}"><a class="dropdown-item" href="/user/getMyAppoint">Your
										Appointment</a></li>
								<!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
								
								
								<li><a class="dropdown-item" href="#"></a></li>
							</ul>
						</div>

						<a class="btn btn-outline-success col-md-4" href="/logout"><i
							class="fa-solid fa-right-from-bracket"></i> Logout</a>
					</div>
				</th:block>

			</div>


		</div>

	</div>


	<!-- Start Navbar -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
		<div class="container-fluid">
			<!-- <a class="navbar-brand" href="/"><i
				class="fa-solid fa-bag-shopping"></i> </a> -->
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav me-auto mb-2 mb-lg-0">


					<th:block th:if="${user!=null}">
						<th:block th:if="${user.role=='ROLE_ADMIN'}">

							<li class="nav-item"><a class="nav-link" href="/"> <i
									class="fa-solid fa-house"></i> Home
							</a></li>
							<!-- <li class="nav-item"><a class="nav-link"
								href="/admin/specialist"> Specialist </a></li> -->

							<li class="nav-item"><a class="nav-link"
								href="/admin/doctorList"> Doctor </a></li>


						</th:block>


						<th:block th:if="${user.role=='ROLE_DOCTOR'}">

							<li class="nav-item"><a class="nav-link" href="/doctor/">
									<i class="fa-solid fa-house"></i> Home
							</a></li>
							<li class="nav-item"><a class="nav-link"
								href="/doctor/addAppoint"> Add Appointment</a></li>
							<li class="nav-item"><a class="nav-link" href="/doctor/patient">
									Patient </a></li>

						</th:block>

						<th:block th:if="${user.role=='ROLE_USER'}">
							<li class="nav-item"><a class="nav-link" href="/"> <i
									class="fa-solid fa-house"></i> Home
							</a></li>
							<li class="nav-item"><a class="nav-link" href="/findDoctor">
									Find Doctor </a></li>

							<li class="nav-item"><a class="nav-link" href="/user/getMyAppoint">Your
									Appointment</a></li>
						</th:block>

					</th:block>



					<th:block th:if="${user==NULL}">
						<li class="nav-item"><a class="nav-link" href="/"> <i
								class="fa-solid fa-house"></i> Home
						</a></li>
						<li class="nav-item"><a class="nav-link" href="findDoctor">
								Find Doctor </a></li>
					</th:block>

				</ul>


			</div>
		</div>
	</nav>


	<!-- End Navbar -->
	<div th:replace="${content}"></div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>


	<script type="text/javascript" src="js/user_script.js"></script>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>