<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container  p-5">
			<div class="row">
				<div class="col-md-6 p-3 offset-md-1">
					<img alt="" src="img/hos5.png" width="100%" height="400px">
				</div>

				<div class="col-md-4 offset-md-1">
					<div class="card paint-card">
						<div class="card-header">
							<h4 class="form-signin-heading text-center">Login</h4>
							<th:block th:if="${param.error}" >
								<p class="text-danger text-center fw-bold">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p></th:block>

							<div th:if="${param.logout}" class="alert alert-success">
								Logout Sucessfully</div>
						</div>
						<div class="card-body">

							<form class="form-signin" method="post" th:action="@{/login}">


								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Email
										address</label> <input type="email" class="form-control" required
										name="username" id="exampleInputEmail1"
										aria-describedby="emailHelp">

								</div>
								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Password</label>
									<input required type="password" class="form-control"
										name="password" id="exampleInputPassword1">
								</div>

								<button class="btn bg-primary text-white col-md-12" type="submit">Sign
									in</button>


							</form>
						</div>
						<div class="card-footer text-center">
							Don't have Account <a href="register"
								class="text-decoration-none">create one</a><br> 
								
								<a
								href="loadforgotPassword" class="text-decoration-none">Forgot
								Password</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>