<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::body})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body class=" bg-light">
	<section>
		<div class="container-fluid p-2 mt-1">
			<div class="row">

				<div class="col-md-6 p-3 offset-md-1">
					<img alt="" src="img/hos5.png" width="100%" height="400px">
				</div>

				<div class="col-md-4 p-3">

					<div class="card paint-card">
						<div class="card-header text-center">
							<h5>Register</h5>
							<th:block th:if="${session.succMsg}" class="text-center">
								<p class="text-primary fw-bold" th:text="${session.succMsg}"></p>
								<th:block th:text="${#session.removeAttribute('succMsg')}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}" class="text-center">
								<p class="text-danger fw-bold" th:text="${session.errorMsg}"></p>
								<th:block th:text="${#session.removeAttribute('errorMsg')}"></th:block>
							</th:block>
						</div>
						<div class="card-body">
							<form action="registerUser" class="" method="post"
								id="userRegister" novalidate>



								<div class="mb-2">
									<label>Full Name</label> <input type="text"
										class="form-control form-control-sm" name="fullName">
								</div>

								<div class="mb-2">
									<label>Mobile Number</label> <input type="text"
										class="form-control form-control-sm" name="mobNo">
								</div>

								<div class="mb-2">
									<label>Email</label> <input type="text"
										class="form-control form-control-sm" name="email">
								</div>

								<div class="mb-2">
									<label>Password</label> <input type="text"
										class="form-control form-control-sm" name="password">
								</div>

								<input type="hidden" name="role" value="ROLE_USER">
								<input type="hidden" name="enable" value="true">
								<input type="hidden" name="certificate" value="NA">
								
								<div class="text-center mt-3 ">
									<button class="btn btn-primary col-md-12">Register</button>
								</div>

							</form>
						</div>

						<div class="card-footer text-center">
							Are you Doctor <a class="text-decoration-none" href="doctRegister">click
								here</a>
						</div>
					</div>

				</div>
			</div>
		</div>

	</section>
</body>
</html>