<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container  p-5">
			<div class="row">
				<div class="col-md-5 offset-md-3">
					<div class="card paint-card">
						<div class="card-body">
							<h4 class="form-signin-heading text-center">Reset Password</h4>
							<form class="form-signin" method="post" th:action="@{/changePasswordx}">
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">New
										Password</label> <input type="password" class="form-control" required
										name="password" id="exampleInputEmail1"
										aria-describedby="emailHelp">

								</div>
								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Confirm
										Password</label> <input required type="text" class="form-control"
										name="confirmPassword" id="exampleInputPassword1">
								</div>

								<input type="hidden" name="uid" th:value="${uid}">

								<button class="btn bg-custom text-white col-md-12" type="submit">Submit
								</button>

								<div class="text-center p-3"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>