<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container p-2">
			<div class="row">
				<div class="col-md-3">
					<div class="card paint-card">
						<div class="card-header text-center fw-bold">Add Appointment</div>
						<th:block th:if="${session.succMsg}">
							<p class="text-primary fw-bold text-center" th:text="${session.succMsg}"></p>
							<th:block th:text="${#session.removeAttribute('succMsg')}"></th:block>
						</th:block>

						<th:block th:if="${session.errorMsg}" >
							<p class="text-danger fw-bold text-center" th:text="${session.errorMsg}"></p>
							<th:block th:text="${#session.removeAttribute('errorMsg')}"></th:block>
						</th:block>

				
						<div class="card-body">
							<form action="/doctor/registerApoint" method="post">
								<div class="mb-2">
									<label>Date</label> <input type="date" name="date" id="date-input" class="form-control"  onchange="handleDateChange()" required>
								</div>
						

								<div class="mb-2">
									<label>From Time</label> <input type="time" name="fromTime"
										class="form-control" id="fromTimeInput" required>
								</div>
								

								<div class="mb-2">
									<label>To Time</label> <input type="time" name="toTime"
										class="form-control" id="toTimeInput" required>
								</div>
								
								<script>
								  // Get the current date in the YYYY-MM-DD format
								  const currentDate = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
								  // Set the min attribute value of the date input to the current date
								  document.getElementById("date-input").setAttribute("min", currentDate);
								  
								  function handleDateChange(){
									  
									  document.getElementById("fromTimeInput").removeAttribute("min");
									  document.getElementById("toTimeInput").removeAttribute("min");									  
									  const dateInput = document.getElementById("date-input");
									  const date_value = dateInput.value;
									  
									  console.log("date_value = "+date_value);
									  console.log("currentDate = "+currentDate);
									
										if(date_value === currentDate)
											{
										  // Set Current time limit to time input tags
										  		console.log("inside if");
										  
										  		const currentTime = new Date().toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });
										  		
										  		const currentTimenew = new Date();
										  		currentTimenew.setMinutes(currentTimenew.getMinutes() + 30);
										  		const newTime = currentTimenew.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });
										  		
										  		console.log("current time = "+currentTime);
										  		console.log("new time = "+newTime);
										  		
										 		document.getElementById("fromTimeInput").setAttribute("min", currentTime);
										  		document.getElementById("toTimeInput").setAttribute("min", newTime);
											}
									
										
								  }
								  
							
								  
								</script>

								<div class="mb-2">
									<label>Slot</label> <input type="text" name="slot"
										class="form-control" required>
								</div>
								<button class="btn btn-primary col-md-12">Submit</button>
							</form>
						</div>

					</div>
				</div>

				<div class="col-md-9">
					<div class="card paint-card">
						<div class="card-header text-center fs-4">Appointment
							Schedule List</div>
						<div class="card-body">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">SL No</th>
										<th scope="col">Date</th>
										<th scope="col">Time</th>

										<th scope="col">Slot</th>
										<!-- <th scope="col">Action</th> -->
									</tr>
								</thead>
								<tbody>
									<tr th:each="a,num:${appList}">
										<th scope="row">[[${num.count}]]</th>
										<td>[[${a.date}]]</td>
										<td>[[${a.fromTime}]] - [[${a.toTime}]]</td>

										<td>[[${a.slot}]]</td>
										<!-- <td><a href="/admin/editSpec"
											class="btn btn-primary btn-sm">Edit</a> <a href=""
											class="btn btn-danger btn-sm">Delete</a></td> -->
									</tr>

								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
				
</body>
</html>